:root {
    --trans-color-1: rgb(32, 32, 32);
    --trans-color-2: rgb(48, 48, 48);
    --trans-gradient: repeating-linear-gradient(
        45deg,
        var(--trans-color-1),
        var(--trans-color-1) 4px,
        var(--trans-color-2) 4px,
        var(--trans-color-2) 8px
    );

    background: black;
    color: white;
    font-family: sans-serif;
}
body { 
    display: flex; flex-direction: row;
    align-items: stretch; justify-content: stretch;
    width: 100vw; height: 100vh;
    padding: 0; margin: 0;

    overflow: hidden;
}
h2 {
    font-size: large;
    margin: 0;
}

#scene-container {
    position: relative; overflow: hidden; /* clip things */
    flex: 1;
    background: var(--trans-gradient);
}

#scene-container > canvas {
    outline: 1px solid rgb(255 255 255 / 50%);
    position: absolute; transform-origin: 0 0;
}

#scene-container > canvas.active {
    outline: 3px solid rgb(255 255 255 / 50%);
}

#scene-container > canvas:hover {
    outline-color: darkred;
    cursor: grab;
}

#tools-container {
    width: 320px;
    display: flex; flex-direction: column;
    gap: 8px;
    max-height: 100vh;
}

#brushes-row, #brushes-container {
    display: flex; flex-direction: row; gap: 8px;
    flex-wrap: wrap; justify-content: space-evenly;
}

.buttons-row {
    display: flex; flex-direction: row; gap: 8px;
    flex-wrap: wrap; justify-content: stretch;
}
.buttons-row > * {
    flex: 1;
}

input, select {
    flex: 1;
}

.brush-toggle {
    width: 64px; height: 64px;
    object-fit: contain;
}
.brush-toggle.active {
    outline: 2px solid white;
}
textarea {
    font-size: 16px;
    border: 1px solid white;
    border-radius: 8px;
    background: black; color: white;
}
#brush-editor, #palette-editor {
    width: 100%; height: 192px;
    font-size: 16px;
}

textarea.error {
    background: darkred;
}

.settings-section {
    border: solid 1px white;
    margin: 8px; padding: 8px;

    display: flex; flex-direction: column;
    gap: 8px;
}



#scene-container > #cursor {
    background: none;
    position: absolute;
    pointer-events: none;
}
