doctype html
html
    head
        title exquisite tool b
        meta(charset="utf-8")
        // third party libraries
        script
            include scripts/FileSaver.min.js
        script
            include scripts/blitsy.js
        script
            include scripts/utility.js
        //script
        //    include scripts/colorwheel.js
        // styles
        style#base-style
            include styles/base-style.css
        style#editor-style
            include styles/editor-style.css
    body(onload="start()")
        #tools-container
            #brushes-row
                #brushes-container
            h2 brush editor
            textarea#brush-editor
            h2 palette editor
            textarea#palette-editor
            .buttons-row
                button(title="download a copy of the image" onclick="exportImage()") export image
                button(title="create a new brush from the active brush" onclick="duplicateBrush()") duplicate brush
                button(title="delete active brush" onclick="deleteBrush()") delete brush
                button(title="clear image" onclick="clearImage()") clear image
            .buttons-row
                button(title="download a copy of the editor and brushes" onclick="exportEditor()") export
                button#import-button(title="import colors and brushes from another export") import
        #scene-container
        #data(hidden)
            script#exquisite-tool-b-data(type="application/json")
                include exquisite-tool-b-data.json
        // scripts
        script
            include scripts/main.js
