doctype html
html
    head
        title exquisite tool b
        // third party libraries
        script
            include lib/FileSaver.min.js
        // styles
        style#base-style
            include base-style.css
        // scripts
        script
            include main-script.js
    body(onload="loaded()")
        p hello
